/* Sidebar / Navigation */
.body {
  --_header-height: 4rem;
  --_flash-color-initial: #ffffff2c;
  --_flash-color-final: #ffffffa4;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--_header-height) auto;
  height: 100vh;
  justify-content: space-between;
  background-color: var(--background);
}

@keyframes flash {
  0% { background-color: var(--_flash-color-initial);}
  50% {background-color: var(--_flash-color-final);}
  100% { background-color: var(--_flash-color-initial);}
}


/* 🔹 Sidebar */

.sidebar {
  max-width: 15rem;
  grid-column: 1;
  grid-row: span 2;
  display: grid;
  grid-template-rows: subgrid;
  border-right: solid 0.1rem white;
  height: 100svh;
  background-color: var(--primary);
  color: white;
  overflow-y: auto;
  position: sticky;
  top: 0;
  align-self: start;
  transition: transform 0.3s ease-in-out;

}
.sidebar > .logo-header > a {
  grid-row: 1;
  padding: 0.3rem;
  box-shadow: 0 0.1rem 0.1rem  rgba(0, 0, 0, 0.199);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  & > img{
    height: 100%;
    border-radius: 300rem;
  }
}

.sidebar > ul:nth-of-type(1) {
  margin-top: 1rem;
}


.sidebar .sidebar-link, .sidebar .expandable{
  width: 98%;
  color: white;
  text-decoration: none;
  padding: 8px var(--spacing);
  padding-left: 1.5rem;
  border-radius: 0 var(--radius) var(--radius) 0;
  transition: background 0.3s;
  position: relative;
  isolation: isolate;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0%;
    z-index: -1;
    border-radius: 0 var(--radius) var(--radius) 0;
    border: solid 0.1rem white;
    border-left: none;
    box-shadow: -0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    background: var(--primary-dark);
    filter: blur(0.02rem);
    opacity: 0;
    transition: all 0.3s ease-in-out, filter 0.7s ease-in; 
  }
}
.sidebar .sidebar-link:hover::before, .sidebar button:hover::before, .sidebar .submenu a:hover::before {
  width: 100%;
  opacity: 0.9;
  filter: blur(0.04rem);
}

.sidebar .sidebar-link, .sidebar .expandable > div, .sidebar .submenu a {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.sidebar .expandable {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 🔹 Estilos para los submenús */
.sidebar .submenu  {
  display: grid;
  grid-template-rows: 0fr;
  padding-inline: 0.5rem;
  margin-top: 0.3rem;
  transition: all 0.3s ease-in-out;
  & > div {
    overflow-y: hidden;
  }
}
.sidebar .submenu.submenu-opened {
  display: grid;
  grid-template-rows: 1fr;
}


.sidebar .submenu a {
  margin-bottom: 0.2rem;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: var(--radius);
  border: solid 0.1rem transparent;
  padding-left: 1.5rem;
  background-color: #ffffff2c;
  font-size: 0.9em;
  position: relative;
  isolation: isolate;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0%;
    z-index: -1;
    border-radius: var(--radius);
    background: var(--primary-dark);
    box-shadow: -0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.26);
    filter: blur(0.02rem);
    opacity: 0;
    transition: all 0.3s ease-in-out, filter 0.7s ease-in; 
  }
}

.sidebar .submenu a:hover {
  border: solid 0.1rem white;
}

/* 🔹 Mostrar submenú cuando esté activo */
.sidebar .menu-item.active .submenu {
  display: block;
}

/* 🔹 Content */

.main-content {
  grid-column: 2;
  grid-row: span 2;
  display: grid;
  grid-template-rows: subgrid;
  
}
.main-content > .section-title {
  grid-row: 1;
  background-color: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing);
  box-shadow: 0 0.1rem 0.1rem  rgba(0, 0, 0, 0.199);
  & > h1 {
    font-size: 1.7em;
  }
}

#app-content {
  flex: 1;
  padding: var(--spacing);
  width: 100%;
}

